extends layout

block content
  h1= title
  p Welcome to our Telegram Bot Beta

  // Wrapper
  #wrapper

    // PAIR INFO
    #pairInfo
      h2 Pair Info
      p
        strong Pair:
        |  <span id='pairInfoName'></span>
        br
        strong Exchange:
        |  <span id='pairInfoExchange'></span>
        br
        strong Technical Indicators:
        |  <span id='pairInfoTechnicalIndicators'></span>
        br
        strong Timeframe:
        |  <span id='pairInfoTimeframe'></span>
    // /PAIR INFO

    // PAIR LIST
    h2 Pair List
    #pairList
      table
        thead
          th Pair
          th Exchange
          th Technical Indicators
          th Timeframe
          th Delete?
        tbody
    // /PAIR LIST

    // ADD PAIR
    h2 Add Pair
    #addPair
      fieldset
        input#inputPairName(type='text', placeholder='Pair name')
        input#inputPairExchange(type='text', placeholder='Exchange', list='exchanges', multiple='')
        datalist#exchanges
          option(value='Bitmex')
          option(value='Bitfinex')
          option(value='Binance')
        br
        input#inputPairTechnicalIndicators(type='text', placeholder='Technical Indicators', list='tindicators', multiple='')
        datalist#tindicators
          option(value='EMA')
          option(value='MA')
          option(value='RSI')
          option(value='MACD')
        input#inputPairTimeframe(type='text', placeholder='Timeframe', list='timeframes', multiple='')
        datalist#timeframes
          option(value='1min')
          option(value='5min')
          option(value='15min')
          option(value='30min')
          option(value='1h')
          option(value='2h')
          option(value='4h')
          option(value='1d')
        br
        button#btnAddPair Add Pair
    // /ADD PAIR

  // /WRAPPER